<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="vets">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>Veterinários</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="customers">
      <ion-icon name="people"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="animals">
      <ion-icon name="logo-octocat"></ion-icon>
      <ion-label>Animais</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="consultations">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Consultas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cash">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Caixa</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
